.modal_option:first-child {
  margin-bottom: 20px;
}

.modal_label {
  display: block;
  margin-bottom: 5px;
}

.modal_note {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 9pt;
}
