.playground {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;

  .splitter-layout > .layout-splitter {
    width: 13px;
    background: #444857;
  }
}

.playground_not_interactive {
  height: 100%;
  pointer-events: none;
}

.playground_is_interactive {
  height: 100%;
  pointer-events: auto;
}
