.preview_empty {
  background: radial-gradient(#ffffff, #ced6e0);
  width: 100%;
  height: 100%;
}

.preview_iframe-wrapper {
  width: 100%;
  height: 100%;
}

.preview_iframe {
  border: 0;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
