@tailwind base;
@tailwind components;

#__next {
  height: 100vh;
}

/* overriding react-splitter-layout styles */

.splitter-layout {
  position: relative !important;
}

.splitter-layout > .layout-splitter {
  width: 13px !important;
  background-color: #333642 !important;
}

.splitter-layout-loader {
  width: 13px !important;
  background-color: #333642 !important;
}

/* overriding codemirror styles */

.CodeMirror {
  height: 100% !important;
}

/* overriding react-frame-component */
.preview_iframe {
  border: 0;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* custom classes */

.width-constraint {
  width: 1000px;
  margin: 0 auto;
}

.empty-preview {
  background: radial-gradient(#fff, #ced6e0);
}

@tailwind utilities;
