@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.header {
  background-color: #575fcf;
  display: flex;
  height: 50px;
  align-items: center;
}

.header_logo {
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px;
  flex: 1;
}

.header_options {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}
